version: "3.9"

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      ENV: docker
      HTTP_PORT: 8080
      POSTGRES_DSN: postgresql://dmitrymironenko:root@postgres:5432/dmitrymironenko?sslmode=disable
    depends_on:
      postgres:
        condition: service_healthy
    restart: always

  postgres:
    image: postgres:alpine
    restart: always
    environment:
      POSTGRES_USER: dmitrymironenko
      POSTGRES_PASSWORD: root
      POSTGRES_DB: dmitrymironenko
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dmitrymironenko"]
      interval: 5s
      timeout: 5s
      retries: 5